#center_panel.span8
  %ul#tabs.nav.nav-tabs
    %li.active
      %a{ :href => "#straight", "data-toggle" => "tab"} Прямой метод
    %li
      %a{ :href => "#make_dual", "data-toggle" => "tab"} Двойственная задача из прямой
    %li
      %a{ :href => "#dual", "data-toggle" => "tab"} Двойственная задача
  .tab-content
    #straight.tab-pane.fade.in.active
      %p.alert.alert-block.alert-error.fade.in Введите данные в форму слева
    #make_dual.tab-pane.fade
      %p.alert.alert-block.alert-error.fade.in Здесь должна быть ваша реклама
    #dual.tab-pane.fade
      %p.alert.alert-block.alert-error.fade.in И здесь