%head
  = javascript_include_tag "simplex_method/index"
  = stylesheet_link_tag "simplex_method/index.css"
.container
  #header_panel
    %div
      %h1= @title
  .row
    #left_panel.pull-left.span4
      =render 'form'
    #center_panel.span8
  #footer_panel
    %address
      %a.pull-left{:href => "mailto:aimilandr@gmail.com"} Обратная связь

